{% extends "base.html.twig" %}
{% block title %}Empleado
{% endblock %}
{% block body %}

	{% if empleado %}

		{{ include ('partials/_datos_empleado.html.twig', { 'empleado': empleado }) }}

		{% if is_granted('ROLE_ADMIN') %}

			<a href="{{ path('delete_empleado', {'id':empleado.id}) }}">Borrar</a>
			<a href="{{ path('edit_empleado', {'id':empleado.id}) }}">Edit</a>

		{% endif %}

	{% else %}
		<h3>Empleado no encontrado</h3>

	{% endif %}

    <a href="{{ path('app_menu') }}">Inicio</a>



{% endblock %}
