{% extends "base.html.twig" %}
{% block title %}Añadir Empleado{% endblock %}
{% block body %}

<h1>Empleado</h1>
<hr>
{{ form(formulario) }}

    <a href="{{ path('app_menu') }}">Inicio</a>


{% endblock %}